.container{
    position: absolute;
    top:500px;
    left: 500px;
    width: 700px;
    height: 700px;
}

.first{
    background-color: rgb(249, 147, 147);
    display: inline-block;
    top: 200px;
    left: 200px;
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px red solid;
}
.first:hover{
    background-color: rgb(143, 86, 86);
}
.second{
    background-color: rgb(126, 198, 208);
    display: inline-block;
    top: 200px;
    left: 400px;
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px red solid;
}
.second:hover{
    background-color: rgb(87, 138, 145);
}


#log{
    font-size: 16px;
}